@inherits LayoutComponentBase
    <header>
        <nav>
            <NavLink href="">
                <img src="img/Vibrante_Logo.svg" />
            </NavLink>
            <ul>
                <li><NavLink href="">Inicio</NavLink></li>
                <li><NavLink href="catalogo">Catálogo</NavLink></li>
                <li><NavLink href="probador">Probador</NavLink></li>
            </ul>
        </nav>
    </header>
    <div class="main">
        @Body
    </div>
