@inherits LayoutComponentBase
    <header>
        <nav>
            <img src="img/Vibrante_Logo.svg" />

            <ul>
                <li><NavLink href="~">Inicio</NavLink></li>
                <li><NavLink href="catalogo">Catálogo</NavLink></li>
                <li><NavLink href="probador">Probador</NavLink></li>
            </ul>
        </nav>
    </header>
    <div class="main">
        @Body
    </div>
