@page "/"

<div class="content-hero">

    <section class="spacing">
        <img src="/img/Trajes/Genesis_Arena.png" />
        <div class="title">
            <h1>VIBRANTE</h1>
            <h2>SWIMWEAR</h2>
        </div>
        <h4>GENESIS</h4>
        <p>
            Nuestro modelo estrella, Genésis, es un bikini que te hará sentirte tan brillante como el sol de las más bellas playas
        </p>
        <a href="/catalogo" class="btn-primary">Ver más..</a>
    </section>

</div>

<Footer />